# Python virtual environments
cmpm146_venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Log files
*.log
*.txt

# IDE settings
.idea/
.vscode/

# macOS files
.DS_Store

# Vim swap files
*.swp
